# DUPLICATES REMOVED

# ASSOCIATION RULES

## Data Preprocessing:

In [95]:
import pandas as pd
import numpy as np

In [97]:
data = pd.read_excel('Online retail.xlsx', header = None)

In [98]:
data.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [100]:
data.info

<bound method DataFrame.info of                                                       0
0     shrimp,almonds,avocado,vegetables mix,green gr...
1                                burgers,meatballs,eggs
2                                               chutney
3                                        turkey,avocado
4     mineral water,milk,energy bar,whole wheat rice...
...                                                 ...
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7498                                            chicken
7499                                 escalope,green tea
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]>

In [103]:
data.duplicated().sum()

2325

In [127]:
data.drop_duplicates(inplace = True)

In [129]:
data.info

<bound method DataFrame.info of                                                       0
0     shrimp,almonds,avocado,vegetables mix,green gr...
1                                burgers,meatballs,eggs
2                                               chutney
3                                        turkey,avocado
4     mineral water,milk,energy bar,whole wheat rice...
...                                                 ...
7493  burgers,salmon,pancakes,french fries,frozen sm...
7494  turkey,burgers,dessert wine,shrimp,pasta,tomat...
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

[5176 rows x 1 columns]>

## Association Rule Mining:

In [132]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\silviya\anaconda3\lib\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\silviya\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\silviya\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\silviya\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\silviya\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\silviya\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\silviya\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [133]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [134]:
te = TransactionEncoder()

In [135]:
transactions = data.apply(lambda x: x[0].split(','), axis = 1).tolist()

In [136]:
te_array = te.fit_transform(transactions)

In [137]:
te_array

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [138]:
df = pd.DataFrame(te_array, columns = te.columns_)

In [139]:
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5172,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
5173,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5174,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5175,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [148]:
te.columns_

[' asparagus',
 'almonds',
 'antioxydant juice',
 'asparagus',
 'avocado',
 'babies food',
 'bacon',
 'barbecue sauce',
 'black tea',
 'blueberries',
 'body spray',
 'bramble',
 'brownies',
 'bug spray',
 'burger sauce',
 'burgers',
 'butter',
 'cake',
 'candy bars',
 'carrots',
 'cauliflower',
 'cereals',
 'champagne',
 'chicken',
 'chili',
 'chocolate',
 'chocolate bread',
 'chutney',
 'cider',
 'clothes accessories',
 'cookies',
 'cooking oil',
 'corn',
 'cottage cheese',
 'cream',
 'dessert wine',
 'eggplant',
 'eggs',
 'energy bar',
 'energy drink',
 'escalope',
 'extra dark chocolate',
 'flax seed',
 'french fries',
 'french wine',
 'fresh bread',
 'fresh tuna',
 'fromage blanc',
 'frozen smoothie',
 'frozen vegetables',
 'gluten free bar',
 'grated cheese',
 'green beans',
 'green grapes',
 'green tea',
 'ground beef',
 'gums',
 'ham',
 'hand protein bar',
 'herb & pepper',
 'honey',
 'hot dogs',
 'ketchup',
 'light cream',
 'light mayo',
 'low fat yogurt',
 'magazines',
 'mashed potato',
 'mayonnaise',
 'meatballs',
 'melons',
 'milk',
 'mineral water',
 'mint',
 'mint green tea',
 'muffins',
 'mushroom cream sauce',
 'napkins',
 'nonfat milk',
 'oatmeal',
 'oil',
 'olive oil',
 'pancakes',
 'parmesan cheese',
 'pasta',
 'pepper',
 'pet food',
 'pickles',
 'protein bar',
 'red wine',
 'rice',
 'salad',
 'salmon',
 'salt',
 'sandwich',
 'shallot',
 'shampoo',
 'shrimp',
 'soda',
 'soup',
 'spaghetti',
 'sparkling water',
 'spinach',
 'strawberries',
 'strong cheese',
 'tea',
 'tomato juice',
 'tomato sauce',
 'tomatoes',
 'toothpaste',
 'turkey',
 'vegetables mix',
 'water spray',
 'white wine',
 'whole weat flour',
 'whole wheat pasta',
 'whole wheat rice',
 'yams',
 'yogurt cake',
 'zucchini']

In [170]:
frequent_itemsets = apriori(df, min_support = 0.02, use_colnames = True)

In [172]:
frequent_itemsets

      support                                 itemsets
0    0.029366                                (almonds)
1    0.045981                                (avocado)
2    0.020479                              (black tea)
3    0.045015                               (brownies)
4    0.113794                                (burgers)
..        ...                                      ...
169  0.020093         (chocolate, milk, mineral water)
170  0.022991    (chocolate, spaghetti, mineral water)
171  0.020672         (eggs, spaghetti, mineral water)
172  0.024730  (ground beef, spaghetti, mineral water)
173  0.022604         (milk, spaghetti, mineral water)

[174 rows x 2 columns]

In [214]:
rules = association_rules(frequent_itemsets, num_itemsets = 5176, min_threshold = 0.4)

In [216]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(cooking oil),(mineral water),0.071870,0.299845,0.028980,0.403226,1.344779,1.0,0.007430,1.173232,0.276236,0.084555,0.147654,0.249938
1,(ground beef),(mineral water),0.135819,0.299845,0.058733,0.432432,1.442184,1.0,0.018008,1.233606,0.354795,0.155818,0.189368,0.314154
2,(ground beef),(spaghetti),0.135819,0.229521,0.055835,0.411095,1.791102,1.0,0.024661,1.308326,0.511102,0.180400,0.235664,0.327181
3,(olive oil),(mineral water),0.087713,0.299845,0.038640,0.440529,1.469186,1.0,0.012340,1.251457,0.350055,0.110742,0.200932,0.284697
4,(soup),(mineral water),0.070904,0.299845,0.033423,0.471390,1.572109,1.0,0.012163,1.324519,0.391684,0.099084,0.245009,0.291429
5,"(chocolate, milk)",(mineral water),0.044822,0.299845,0.020093,0.448276,1.495023,1.0,0.006653,1.269030,0.346652,0.061905,0.211997,0.257643
6,"(chocolate, spaghetti)",(mineral water),0.055835,0.299845,0.022991,0.411765,1.373257,1.0,0.006249,1.190263,0.287877,0.069106,0.159849,0.244220
7,"(spaghetti, eggs)",(mineral water),0.051391,0.299845,0.020672,0.402256,1.341543,1.0,0.005263,1.171328,0.268382,0.062537,0.146268,0.235599
8,"(ground beef, spaghetti)",(mineral water),0.055835,0.299845,0.024730,0.442907,1.477116,1.0,0.007988,1.256799,0.342107,0.074723,0.204328,0.262690
9,"(ground beef, mineral water)",(spaghetti),0.058733,0.229521,0.024730,0.421053,1.834485,1.0,0.011249,1.330828,0.483272,0.093842,0.248588,0.264398
10,"(milk, spaghetti)",(mineral water),0.050039,0.299845,0.022604,0.451737,1.506568,1.0,0.007600,1.277042,0.353951,0.069067,0.216941,0.263562

In [218]:
rel_rules = rules[rules.lift>1.5]
rel_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
2,(ground beef),(spaghetti),0.135819,0.229521,0.055835,0.411095,1.791102,1.0,0.024661,1.308326,0.511102,0.180400,0.235664,0.327181
4,(soup),(mineral water),0.070904,0.299845,0.033423,0.471390,1.572109,1.0,0.012163,1.324519,0.391684,0.099084,0.245009,0.291429
9,"(ground beef, mineral water)",(spaghetti),0.058733,0.229521,0.024730,0.421053,1.834485,1.0,0.011249,1.330828,0.483272,0.093842,0.248588,0.264398
10,"(milk, spaghetti)",(mineral water),0.050039,0.299845,0.022604,0.451737,1.506568,1.0,0.007600,1.277042,0.353951,0.069067,0.216941,0.263562

## Analysis and Interpretation:

#### -> Many people buy ground beef and spaghetti together, likely for Italian meals.
#### -> Customers who buy soup often buy water, possibly for a meal.
#### -> If someone buys ground beef and mineral water, they are much more likely to also buy spaghetti.
#### -> People who buy milk and spaghetti often buy mineral water too.

## Customer Purchasing Behavior Insights

## 1. People Prefer Buying Ingredients for Italian Meals

#### Ground beef + Spaghetti and Olive oil + Spaghetti show that many customers are purchasing ingredients for Italian-style dishes.
#### Marketing Tip: Stores could offer special bundles on these items to encourage purchases.

## 2. Soup and Mineral Water Are Frequently Bought Together

#### This suggests that customers buying soup prefer drinking mineral water with it.
#### Marketing Tip: Offering discounts on mineral water when buying soup could boost sales.

## 3. Customers Who Buy Ground Beef and Mineral Water Often Buy Spaghetti

#### This suggests a common meal preparation trend among shoppers.
#### Marketing Tip: A combo pack with all three items could increase sales.

## 4. Milk and Spaghetti Buyers Also Purchase Mineral Water

#### People who buy spaghetti may also purchase milk for making creamy pasta.
#### Since they are preparing a meal, they might also pick up mineral water as a beverage.
#### Marketing Tip: Recommending mineral water in checkout suggestions might encourage extra purchases.

## Interview Questions:

###  1. What is Lift and Why is it Important in Association Rules?
#### Lift measures how much more likely two items are to be bought together compared to if they were bought independently. 
#### It helps identify strong relationships between products.
#### Lift > 1: Items are more likely to be bought together than by chance (strong association).
#### Lift = 1: No relationship. items are bought independently.
#### Lift < 1: Items are less likely to be bought together than expected by chance.

### 2. What are Support and Confidence? How Do You Calculate Them?
#### Support: Measures how frequently an itemset appears in the dataset.
#### Confidence: Measures how often an item Y appears in transactions that contain item X.

### 3. What Are Some Limitations or Challenges of Association Rule Mining?
#### High Computational Cost: Analyzing large datasets can be slow and resource-intensive.
#### Too Many Rules: Generates many rules, making it hard to find the most useful ones.
#### Low Interpretability: Some rules may be statistically valid but not practically useful.
#### Rare Item Problem: Items with low frequency may not appear in rules despite their importance.
#### Redundant Rules: Many rules may be similar, providing little new insight.